* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #ff9a4b;
  height: 50px;
}

main {
  margin: 50px 0;
  width: 960px;
  display: flex;
}

.steps {
  width: 300px;
  background-color: #eeeeee;
  margin-right: 30px;
  padding: 10px;
  position: relative;
}

.steps:last-child {
  margin-right: 0;
}

.step-tag {
  background-color: #ff9a4b;
  color: #fff;
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

.step1-img {
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.step2-img {
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.step3-img {
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.step-heading {
  margin: 15px 0 5px;
}

footer {
  background-color: #aaaaaa;
  height: 50px;
}